In [2]:
import pandas as pd

In [6]:
car=pd.read_csv("quikr_car.csv")

In [25]:
# see random values from dataset
car.sample(5)

,name,company,year,Price,kms_driven,fuel_type
203,Maruti Suzuki Wagon R LXi BS III,Maruti,2009,"1,35,000","45,000 kms",Petrol
818,Maruti Suzuki Dzire,Maruti,2014,"3,74,999","33,000 kms",Petrol
424,Chevrolet Spark LS 1.0,Chevrolet,2010,"95,000","23,000 kms",Petrol
208,Maruti Suzuki Alto LXi BS III,Maruti,2010,"1,35,000","34,580 kms",Petrol
601,Maruti Suzuki Wagon R AX BSIV,Maruti,2010,"2,25,000","40,000 kms",Petrol

In [9]:
car.shape

(892, 6)

In [11]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB